.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fff;
}
.loader {
  position: relative;
  display: grid;
  place-items: center;
  width: 100px;
  height: 100px;
}
.loaderItem {
  position: absolute;
  border: 6px solid #2fb297;
  border-radius: 50%;
  animation: ripple 1.8s ease-out infinite;
}
.loaderItem:nth-child(2) {
  animation-delay: -0.6s;
}
@keyframes ripple {
  from {
    opacity: 1;
    width: 0;
    height: 0;
  }
  to {
    opacity: 0;
    width: 100%;
    height: 100%;
  }
}
