.my_image_wrapper {
  margin-left: 25%;
}

.my_image {
  position: absolute;
  z-index: 2;
  background-image: url("../../assets/MyImage.png");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  animation: image_show 1.8s ease-out;
}

.bg_image {
  width: 190%;
  height: 190vh;
  position: relative;
  background-color: #2fb297;
  z-index: 1;
  transform: rotate(15deg);
}

@keyframes image_show {
  from {
    opacity: 0;
    transform: scale(0.97);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media screen and (max-width: 1200px) {
  .my_image_wrapper {
    margin-left: 13%;
  }
}
