.layout {
  width: 100%;
  height: 100vh;
  max-width: 100%;
  overflow: hidden;
  max-height: 100vh;
}

.layout_container {
  display: flex;
  justify-content: center;
  align-items: start;
  overflow: hidden;
}

.left_content {
  width: 50%;
  height: 100%;
}

.right_content {
  width: 50%;
  position: relative;
  height: 100%;
}

@media screen and (max-width: 992px) {
  .right_content {
    display: none;
  }
  .left_content {
    width: 100%;
    height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    overflow: hidden !important;
  }
}
