.hi_message {
  font-size: 18px;
  color: #333;
  word-spacing: 2px;
  letter-spacing: 0.5px;
  text-align: center;
}

.left_wrapper {
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left_wrapper_details {
  animation: show_details 1.2s ease-out;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  margin-top: 30px;
  font-size: 40px;
  color: #35404e;
  letter-spacing: 1px;
  font-weight: 800;
  text-align: center;
}

.title_mark {
  color: #2fb297;
}
.my_description {
  line-height: 23px;
  margin-top: 25px;
  color: #35404e;
  font-size: 15px;
  letter-spacing: 0.8px;
  text-align: center;
}

.bottom_text {
  text-align: center;
  font-size: 15px;
  letter-spacing: 0.3px;
  padding-bottom: 35px;
}

.icon_groups {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon_bg {
  margin: 0 5px;
  padding: 10px;
  border-radius: 50%;
  background-color: rgba(53, 64, 78, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s linear;
  text-decoration: none;
}

.icon_content {
  width: 16px;
  height: 16px;
  background-color: #35404e;
  mask-repeat: no-repeat;
  background-size: contain;
  transition: all 0.2s linear;
}

.icon_bg:hover .icon_content {
  background-color: #2fb297;
}

.facebook_icon {
  mask-image: url("../../assets/FacebookIcon.svg");
}

.telegram_icon {
  mask-image: url("../../assets/TelegramIcon.svg");
}

.linkedin_icon {
  mask-image: url("../../assets/LinkedinIcon.svg");
}

.instagram_icon {
  mask-image: url("../../assets/InstagramIcon.svg");
}

.git_icon {
  mask-image: url("../../assets/GitLab.svg");
}

.cv_button_warp {
  display: flex;
  justify-content: center;
}

.cv_button {
  outline: none;
  margin-top: 30px;
  overflow: hidden;
  cursor: pointer;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  padding: 8px 40px;
  text-transform: capitalize;
  z-index: 1;
  border-radius: 20px;
  background-color: #2fb297;
  color: #ffffff;
  border: 1px solid #2fb297;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.cv_button:hover {
  background-color: #ffffff;
  color: #2fb297;
}

@keyframes show_details {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* @media screen and (max-width: 992px) {
  .left_wrapper {
    background: url("../../assets//MyImage.png"), #2fb297;
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
} */

@media screen and (max-width: 576px) {
  .left_wrapper {
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }
  .title {
    font-size: 30px;
  }
  .my_description {
    font-size: 14px;
    letter-spacing: 0.3px;
  }
  .icon_groups {
    margin-top: 20px;
  }
  .bottom_text {
    font-size: 14px;
  }
}
