:root {
  --color: rgb(0, 155, 255);
  --area: 40vmin;
  --time: 4s;
}

html,
body {
  transition: all 0.2s linear;
  padding: 0;
  margin: 0;
  color: #515c6a;
  font-family: "Muli", sans-serif;
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
